* {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
}
.app {
    background-color: #cadace;
    padding-top: 32px;
    height: 100vh;
}
.head {
    background-color: #cecece;
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
    height: 420px;
    margin: 0 auto;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 32px;
}
.forehead {
    height: 80px;
    display: flex;
}
.forehead__side {
    width: 40%;
    height: 100%;
    border-bottom: 1px solid #000;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
}
.forehead__center {
    width: 20%;
    height: 100%; 
}

.eyes-and-nose {
    height: 80px;  
    display: flex; margin-bottom: 8px;
}
.eyes-and-nose__side {
    position: relative;
    height: 100%;
    width: 40%;  
}
.eyes-and-nose__eye {
    width: 65%;
    height: 40%;
    background-color: #717171;
    border-top: 3px solid black;
    border-bottom: 1px solid black;
    position: absolute;
    top: 0;
    overflow: hidden;
}
.eyes-and-nose__eye-left {
    border-left: 1px solid black;
    right: 0;
}
.eyes-and-nose__eye-right {
    border-right: 1px solid black;
    left: 0;
}

.pupil {
    width: 24px;
    height: 24px;
    background-color: rgb(0, 220, 0);
    border: 2px solid black;
    position: absolute;
    top: 1px;
    margin: 0;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
}
.pupil-left {
    left: 42px;
}
.pupil-right {
    left: 42px;
}

.eyes-and-nose__center {
    height: 100%;
    width: 20%;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.4);     
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
}
.eyes-and-nose__center:hover {
    background-color: #ba9797;
}

.mouth {
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.4);    
    width: 300px;
    height: 200px;
    margin: 0 auto;
    background-color: #494646;
    border-radius: 5px;
    border: 2px solid black;
    color:rgb(0, 220, 0);
    font-size: 16px;
    padding: 16px;
}

.textarea {
    width: 400px;
    height: 50px;
    margin: 0 auto;
}
.textarea textarea {
    width: 100%;
    font-size: 15px;
}